name: python-pipeline
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    container: python:3.11-slim
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Run Unit Tests
        run: |
          python -m pip install -e .
          pytest -q
